<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

		<title>Home - Shopme Admin</title>	
		<div th:replace="fragments/cssLinks :: cssLinks"></div>
	</head>
	
	<body>
		<div class="container-fluid" id="page-container">
			<!-- LOG OUT HIDDEN FORM -->
			<form th:replace="fragments/logoutform :: hidden-logout-form"></form>

			<!-- NAVBAR -->
			<nav th:replace="fragments/navbar :: navbar"></nav>
			
			<div class="text-center alert alert-danger mt-5">
				<h2>Sorry, you don't have permissions to access the requested page (403)
					<i class="ml-2 fa-solid fa-circle-exclamation"></i>
				</h2>
			</div>
			
			<!-- FOOTER -->
			<footer th:replace="fragments/footer :: footer"></footer>
		</div>	
		<!-- js -->
		<div th:replace="fragments/jsScripts :: jsScripts"></div><!-- js -->
	</body>
</html>