<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

		<title>Home - Shopme Admin</title>
		
		<div th:replace="fragments/cssLinks :: cssLinks"></div>
	</head>
	
	<body>
		<div class="container-fluid" id="page-container">
			<!-- LOG OUT HIDDEN FORM -->
			<form th:replace="fragments/logoutform :: hidden-logout-form"></form>

			<!-- NAVBAR -->
			<nav th:replace="fragments/navbar :: navbar"></nav>
			
			<div class="text-center">
				<h2 class="text-center index-title">Shopme Control Panel</h2>
				<div class="mt-5 h4">Welcome 
					<a sec:authentication="principal.fullName" th:href="@{/account}"></a>
				</div>
				<div class="h4" sec:authentication="principal.authorities"></div>	
			</div>
			
			<!-- FOOTER -->
			<footer th:replace="fragments/footer :: footer"></footer>
		</div>	
		<!-- js -->
		<div th:replace="fragments/jsScripts :: jsScripts"></div>
	</body>
</html>