<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	
		<title>[[${pageTitle}]]</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />
		<div th:replace="fragments/cssLinks :: cssLinks"></div>
	</head>
	
	<body>
		<div class="container-fluid form-container">
			<!-- LOG OUT HIDDEN FORM -->
			<form th:replace="fragments/logoutform :: hidden-logout-form"></form>
			<!-- NAVBAR -->
			<nav th:replace="fragments/navbar :: navbar"></nav>
	
			<!-- TITLE -->
			<div class="mt-5 mb-3">
				<h2 class="text-center">Manage Users | [[${pageTitle}]]</h2>
			</div>
	
			<!-- REGISTER FORM -->
			<div class="mb-3">
				<form th:action="@{/users/save}" method="post" th:object="${user}" onsubmit="return checkEmailUnique(this)"
					enctype="multipart/form-data"
				>
					<input type="hidden" th:field="*{id}" class="mt-3"/>
					<div class="border border-secondary rounded p-5">
						
						<div class="form-group row">
							<label for="email" class="col-sm-4 col-form-label"><strong>E-mail:</strong></label>
							<div class="col-sm-8">
								<input id="email" type="email" class="form-control" th:field="*{email}" required minlength="8"
									maxlength="128" />
							</div>
						</div>
						
						<div class="form-group row">
							<label for="firstName" class="col-sm-4 col-form-label"><strong>First-Name:</strong></label>
							<div class="col-sm-8">
								<input id="firstName" type="text" class="form-control" th:field="*{firstName}" required
									minlength="2" maxlength="45" />
							</div>
						</div>
						
						<div class="form-group row">
							<label for="lastName" class="col-sm-4 col-form-label"><strong>Last-Name:</strong></label>
							<div class="col-sm-8">
								<input id="lastName" type="text" class="form-control" th:field="*{lastName}" required
									minlength="2" maxlength="45" />
							</div>
						</div>
						
						<div class="form-group row">
							<label for="password" class="col-sm-4 col-form-label"><strong>Password:</strong></label>
							<div class="col-sm-8">
								<input th:if="${user.id == null}" id="password" type="password" class="form-control"
									th:field="*{password}" required minlength="8" maxlength="20" />
								<input th:if="${user.id != null}" id="password" type="password" class="form-control"
									th:field="*{password}" minlength="8" maxlength="20" />
							</div>
						</div>
						
						<div class="form-group row">
							<label for="password" class="col-sm-4 col-form-label"><strong>Roles:</strong></label>
							<div class="col-sm-8">
								<th:block th:each="role : ${listRoles}" }>
									<div>
										
										<input type="checkbox" name="roles" th:field="*{roles}" th:text="${role.name}"
											th:value="${role.id}" class="m-2" />
										- <small>[[${role.description}]]</small>
									</div>
								</th:block>
							</div>
						</div>
						
						<div class="form-group row">
							<label for="password" class="col-sm-4 col-form-label"><strong>Enabled:</strong></label>
							<div class="col-sm-8 d-flex align-items-center">
								<input type="checkbox" th:field="*{enabled}" class="mx-2 my-3" id="checkEnable"/>
								<label class="fas fa-check-circle fa-2x icon-green" style="display: none;" for="checkEnable"
									title="Enabled"
								></label>									
	        					<label class="fa-solid fa-ban fa-2x icon-dark"  style="display: none;" for="checkEnable"
	        						title="Disabled"
	        					></label>
	       
							</div>
						</div>
						
						<!-- PHOTO AND INPUT FILE BLOCK-->
						<div class="form-group row">
							<label for="fileImage" class="label-photo col-md-4 col-form-label"><strong>Photos:</strong></label>
							<div class="col-md-8 fileImage-wrapper">
								<input type="hidden" th:field="*{photos}" />
								<input class="border border-success" type="file" id="fileImage" accept="image/png, image/jpeg"
									name="image"
								/>	
							</div>
						</div>	

						<div class="d-flex justify-content-center">
							<div class="shadow card bg-light mb-3" style="max-width: 18rem;">
								<div class="card-header text-center border rounded border-secondary bg-success">
									Selected Photo
								</div>
								<div class="card-body text-center">
									<img id="thumbnail" alt="Photos preview"  th:src="@{${user.photosImagePath}}"  
									class="img-fluid"
									/>
								</div>
							</div>
						</div>
					
						<div class="text-center mt-3">
							<input type="submit" value="Save" class="btn btn-success mr-2" />
							<input type="button" value="Cancel" class="btn btn-danger" id="buttonCancel" />
						</div>
					</div>
				</form>
			</div>
			
			
			<!-- DUPLICATED EMAIL MODAL DIALOG -->
			<div th:replace="fragments/modals :: modal_dialog"></div>

		<!-- FOOTER -->
		<footer th:replace="fragments/footer :: footer"></footer>
		
		<!-- js -->
		<div th:replace="fragments/jsScripts :: jsScripts"></div>
		<script type="text/javascript">
			
			moduleUrl = "[[@{/users}]]";
			$(document).ready(function () {	
			   	toggleIcon($('#checkEnable').is(':checked'), $('#checkEnable'));
			
			    // Cambia los iconos cuando el estado del checkbox cambia
			    $('#checkEnable').change(function() {
			        toggleIcon(this.checked, $(this));
			    });
			});
			
			function toggleIcon(isChecked, checkbox) {
				var container = checkbox.closest('.form-group'); 
       			var iconGreen = container.find('.icon-green');
       			var iconDark = container.find('.icon-dark');
		        if (isChecked) {
		            iconGreen.show(); 
            		iconDark.hide(); 
		        } else {
		            iconGreen.hide(); 
            		iconDark.show(); 
		        }
		    }
			
			function checkEmailUnique(form){
				url = "[[@{/users/check_email}]]";
				userEmail = $("#email").val();
				userId = $("#id").val();
				csrfValue = $("input[name='_csrf']").val();
				params = {id:userId, email: userEmail,_csrf: csrfValue};
				
				
				$.post(url, params, function(response){
					if(response == "OK"){
						form.submit();
					}else if (response == "Duplicated"){
						showModalDialog("Warning", "There is another user registered with this email " + userEmail, "warning");
					}else{
						showModalDialog("Error", "Error, unknown response from server", "error");
					}	
				}).fail(function(){
						showModalDialog("Error", "Error, Could not connect to the server", "error");
				});
				return false;
			}
			
			
		</script>
		<script th:src="@{/js/createEdit_form.js}"></script>
	</body>
</html>