<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	
		<title>Home - Shopme Admin</title>
	
		<div th:replace="fragments/cssLinks :: cssLinks"></div>
	</head>

	<body>
		<div class="container-fluid users-container">
			<!-- LOG OUT HIDDEN FORM -->
			<form th:replace="fragments/logoutform :: hidden-logout-form"></form>
			<!-- NAVBAR -->
			<nav th:replace="fragments/navbar :: navbar"></nav>
	
			<!-- MANAGEMENT BUTTONS (EXPORT FILES AND CREATE USER) -->
			<div class="mt-5">
				<h2 class="text-center">Manage Users</h2>
				<div class="text-center">
					<a th:href="@{/users/new}">
						<i class="text-center fa-solid fa-user-plus fa-2x icon-green mt-3 mb-3 mr-2" title="New User"></i>
					</a>
					<a th:href="@{users/export/csv}">
						<i class="text-center fa-solid fa-file-csv fa-2x icon-green mt-3 mb-3 mr-2" title="Export CSV"></i>
					</a>
					<a th:href="@{users/export/excel}">
						<i class="text-center fa-regular fa-file-excel fa-2x icon-green mt-3 mb-3 mr-2" title="Export Excel"></i>
					</a>
					<a th:href="@{users/export/pdf}">
						<i class="text-center fas fa-file-pdf fa-2x icon-green mt-3 mb-3 mr-2" title="Export PDF"></i>
					</a>
				</div>
			</div>
			<!-- SUCESS MESSAGE -->
			<div th:if="${message != null}" class="alert alert-success text-center mt-3">
				[[${message}]]<i class="ml-2 fa-solid fa-circle-check"></i>
			</div>
			<!-- ERROR MESSAGE -->
			<div th:if="${errorMessage != null}" class="alert alert-danger text-center mt-3">
				[[${errorMessage}]]<i class="ml-2 fa-solid fa-circle-exclamation"></i>
			</div>
			
			<!-- SEARCH FORM / BAR -->
			<div th:replace="fragments/searchForm :: search_form('/users/page/1')"></div>
			
			<!-- USERS INFO / SMALL SCREEN -->
			<div class="less-details">
				<div th:each="user : ${listUsers}" class="row m-1 mb-2">
					<div class="col mt-1">
						<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-green"></span>
						<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" 
							class="smImageUserTable shadow border rounded border-info"
						/>
						<div class="mt-2 sm-icon-container text-center">
							<div th:replace="fragments/entityStatus :: status(${user.enabled}, 'user', 
								'/users/' + ${user.id}, 'sm')"/>

							<a class="ml-2 fas fa-edit fa-2x icon-green icon-sm" th:href="@{'/users/edit/' + ${user.id}}"
								title="Edit User"
							></a>
							<a class="ml-2 fas fa-trash fa-2x icon-red link-delete icon-sm" 
								th:href="@{'/users/delete/' + ${user.id}}" title="Delete User"
								th:userId="${user.id}"
							>								
							</a>
						</div>
					</div>
					<div class="col">
						<div class="font-weight-bold mt-4">Name: </div>
						<div>[[${user.fullName}]]</div>
						<div class="font-weight-bold">Roles: </div>
						<div>[[${user.roles}]]</div>	
					</div>
				</div>	
			</div>
			<!-- USERS TABLE MEDIUM / LARGE SCREEN -->
			<table class="full-details table table-bordered table-striped table-hover table-responsive-xl mt-5">
				<thead class="thead-dark">
					<tr>
						<!-- ID th -->
						<th class="show-hide">
							<th th:replace="/fragments/column_link :: column_link('/users', 'id', 'User ID', 'tag')"/>
						</th>
						
						<th>Photos</th>
						<!-- Email th -->
						<th class="show-hide">
							<th th:replace="/fragments/column_link :: column_link('/users', 'email', 'E-mail', 'tag')"></th>
						</th>
						<!-- First Name th -->
						<th th:replace="/fragments/column_link :: column_link('/users', 'firstName', 'First Name', 'none')"></th>
						<!-- Last Name th -->
						<th th:replace="/fragments/column_link :: column_link('/users', 'lastName', 'Last Name', 'none')"></th>
						<th>Roles</th>
						<!-- Enabled th -->
						<th th:replace="/fragments/column_link :: column_link('/users', 'enabled', 'Enabled', 'none')"></th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user, userStatus : ${listUsers}">
						<td class="show-hide">[[${user.id}]]</td>
						<td>
							<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-green"></span>
							<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" 
								class="shadow border rounded border-info"
							/>
						</td>
						<td class="show-hide">[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						<td>
							<div th:replace="fragments/entityStatus :: status(${user.enabled}, 'user', '/users/' + ${user.id}, '')"/>
						</td>
						<td>
							<a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
								title="Edit User"
							></a>
							<a class="ml-2 fas fa-trash fa-2x icon-red ml-2 link-delete" 
								th:href="@{'/users/delete/' + ${user.id}}"
								title="Delete this user" th:entityId="${user.id}"
							>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			
			<!-- PAGINATION -->
			<div th:replace="fragments/pagination :: pagination('/users', 'users')"></div>
		</div>
		<!-- CONFIRM DELETE CATEGORY MODAL -->
			<div th:replace="fragments/modals :: confirm_modal"></div>
		<!-- FOOTER -->
		<footer th:replace="fragments/footer :: footer"></footer>
		
		<!-- js -->
		<div th:replace="fragments/jsScripts :: jsScripts"></div>
		<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
		<script type="text/javascript">
			moduleURL = "[[@{/users}]]";
			$(document).ready(function(e){
				$('.hideable-column').remove();
			    
			    $(".link-delete").on("click", function(e){
					e.preventDefault();
					showDeleteConfirmModal($(this), 'user');
				});
			});
		</script>
	</body>

</html>