
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	
		<title>Products - Shopme Admin</title>
	
		<div th:replace="fragments/cssLinks :: cssLinks"></div>
	</head>

	<body>
		<div class="container-fluid wrapper-container">
			<!-- LOG OUT HIDDEN FORM -->
			<form th:replace="fragments/logoutform :: hidden-logout-form"></form>
			<!-- NAVBAR -->
			<nav th:replace="fragments/navbar :: navbar"></nav>
	
			<!-- MANAGEMENT BUTTONS (EXPORT FILES AND CREATE USER) -->
			<div class="mt-5">
				<h2 class="text-center">Manage Products</h2>
				<div class="text-center">
					<a th:href="@{/products/new}">
						<i class="text-center fa fa-folder-plus fa-2x icon-green mt-3 mb-3 mr-2" title="New Product"></i>
					</a>
					<a th:href="@{/products/export/csv}">
						<i class="text-center fa-solid fa-file-csv fa-2x icon-green mt-3 mb-3 mr-2" title="Export CSV"></i>
					</a>
				</div>
			</div>
			<!-- SUCESS MESSAGE -->
			<div th:if="${message != null}" class="alert alert-success text-center mt-3">
				[[${message}]]<i class="ml-2 fa-solid fa-circle-check"></i>
			</div>
			<!-- ERROR MESSAGE -->
			<div th:if="${errorMessage != null}" class="alert alert-danger text-center mt-3">
				[[${errorMessage}]]<i class="ml-2 fa-solid fa-circle-exclamation"></i>
			</div>
			
			<!-- SEARCH FORM / BAR -->
			<div th:replace="fragments/searchForm :: search_form('/products/page/1')"></div>
			
			<!-- PRODUCTS TABLE MEDIUM / LARGE SCREEN -->
			<table class="full-details table table-bordered table-striped table-hover table-responsive-xl mt-5">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Main Image</th>	
						<th>Product Name</th>				
						<th>Brand</th>				
						<th>Category</th>
						<th>Enabled</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product, productStatus : ${listProducts}">
						<td class="show-hide">[[${product.id}]]</td>
						<td>
							<img th:src="@{${product.mainImagePath}}" class="img-fluid"/>
						</td>
						<td>
							<a th:href="@{'/products/detail/' + ${product.id}}" title="View details of this product"
								class="link-detail"
							>[[${product.name}]]</a>
						</td>
						<td>[[${product.brand.name}]]</td>
						<td>[[${product.category.name}]]</td>
						<td>
							<div th:replace="fragments/entityStatus :: status(${product.enabled}, 'product', '/products/' 
								+ ${product.id}, '')"/>
						</td>
						<td th:fragment="brands_actions(removeTag)" th:remove="${removeTag}">
							<a class="fas fa-file-alt fa-2x icon-green link-detail" 
								 th:href="@{'/products/detail/' + ${product.id}}" title="View details of this product"
							></a>
							<a class="fas fa-edit fa-2x icon-green ml-2" 
								 th:href="@{'/products/edit/' + ${product.id}}" title="Edit this product"
							></a>	
							<a class="ml-2 fas fa-trash fa-2x icon-red ml-2 link-delete" 
								th:href="@{'/products/delete/' + ${product.id}}"
								title="Delete this product" th:entityId="${product.id}"
							>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- PAGINATION -->
			<!--<div th:replace="fragments/pagination :: pagination('/brands', 'brands')"></div>-->
		</div>
		
		<!-- CONFIRM DELETE CATEGORY MODAL -->
		<div th:replace="fragments/modals :: confirm_modal"></div>
		
		<div class="modal" id="detailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					
				</div>
			</div>
		</div>
		<!-- FOOTER -->
		<footer th:replace="fragments/footer :: footer"></footer>
		<!-- js -->
		<div th:replace="fragments/jsScripts :: jsScripts"></div>
		<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
		<script type="text/javascript">
			moduleURL = "[[@{/products}]]";
			$(document).ready(function(e){
			    
			    $(".link-delete").on("click", function(e){
					e.preventDefault();
					showDeleteConfirmModal($(this), 'Product');
				});
				
				$(".link-detail").on("click", function(e){
					e.preventDefault();
					linkDetailURL = $(this).attr("href");
					$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
				});
			});
		</script>

	</body>
</html>
	
