<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>
<body>
	<!-- PRODUCT IMAGES FRAGMENT -->
	<div th:fragment="content" th:remove="tag">
		<div class="row" id="divProductImages">
			
			<!-- MAIN IMAGE -->
			<div class="col border m-3 p-3">
				<div><label><strong>Main image:</strong> [[${product.mainImage}]]</label></div>
				<div class="my-3">
					<img id="thumbnail" alt="Main image preview" class="img-fluid"
						th:src="@{${product.mainImagePath}}" style="width: auto;"
					/>
				</div>
				<div>
					<input type="file" id="fileImage" name="fileImage" th:required = "${product.mainImage == null}"
						accept="image/png, image/jpeg"
					/>
				</div>
				<input type="hidden" th:field="*{mainImage}" />
			</div>
			
			<!-- EXTRA IMAGES -->
			<th:block th:each="productImage, status : ${product.images}">
				<div class="col border m-3 p-3" th:id="'divExtraImage' + ${status.index}">
					<div>
						<label class="font-weight-bold">Extra image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
						<a name="linkRemoveExtraImage" class="btn fas fa-times-circle fa-2x icon-green float-right" 
							title="Remove this image">
						</a>
					</div>
					<div class="my-3">
						<img th:id="'extraThumbnail' + ${status.index}" 
							th:alt="'Extra image #' + ${status.index + 1} + ' preview'" 
							th:src="@{${productImage.imagePath}}" style="width: auto;" class="img-fluid"
						/>
					</div>
					<div>
						<input type="file"name="extraImage" 
							accept="image/png, image/jpeg"
						/>
					</div>
					<input type="hidden" name="imageIDs" th:id="'imageId' + ${status.index}" />
					<input type="hidden" name="imageNames" th:id="'imageName' + ${status.index}" />
				</div>
			</th:block>
			
			<!-- EXTRA IMAGE STATIC -->
			<div class="col border m-3 p-3" th:id="'divExtraImage' + ${numberOfExistingExtraImages}">
				<div th:id="'extraImageHeader' + ${numberOfExistingExtraImages}">
					<label class="font-weight-bold">Extra image #[[${numberOfExistingExtraImages + 1}]]:</label>

				</div>
				<div class="my-3">
					<img th:id="'extraThumbnail' + ${numberOfExistingExtraImages}" 
						th:alt="'Extra image #' + ${numberOfExistingExtraImages + 1} + ' preview'" class="img-fluid"
						th:src="@{/images/image-thumbnail.png}" style="width: auto;"
					/>
				</div>
				<div>
					<input type="file"name="extraImage" 
						accept="image/png, image/jpeg"
					/>
				</div>
			</div>
			
		</div>
	</div>
</body>
</html>