<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>
<body>
	<!-- SEARCH FORM / BAR -->
	<div th:fragment="search_form(moduleURL)" class="d-flex justify-content-center mt-3 mb-3">
		<form th:action="@{${moduleURL}}" class="form-inline" id="searchForm">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			<div class="form-group d-flex align-items-center">
				<label for="searchField" class="form-label font-weight-bold mr-2">Filter:</label>
				<input type="search" name="keyword" th:value="${keyword}" required class="form-control mr-2" id="searchField"/>
				<a href="#" title="Search" id="submitSearch" class="link-submit">
					<i class="fa-solid fa-magnifying-glass icon-green fa-2x"></i>
				</a>
				<a href="#" class="fa-solid fa-filter-circle-xmark icon-dark fa-2x" title="Clear Filters"
					onclick="clearFilter()"
				></a>
			</div>
			
		</form>
	</div>

</body>
</html>