form{
	max-width: 43.75rem;
	margin: 0 auto;
}
#fileImage{
	background-color: #28a745 !important;
    color: white;
}

.card-header{
    background-color: #3f9553;
    color: white;
}

/* SMALL SCREEN */
@media screen and (max-width:768px){
	.label-photo{text-align: center;}
	.fileImage-wrapper{text-align: center;}
	#fileImage{width: 9.57em;}
}