<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

		<title>Home - Shopme</title>
		
		<div th:replace="fragments/cssLinks :: cssLinks"></div>
	</head>
	<body>
		
		<div class="container-fluid">
			<!-- HEADER MENU -->
			<div th:replace="fragments/navigation :: header_menu"></div>
			<div><h1>Shopping by categories</h1></div>
			
			<div class="row">
				<div class="col" th:each="cat: ${listCategories}">
					<div><img th:src="@{${cat.imagePath}}"/></div>
					<div>[[${cat.name}]]]</div>
				</div>
			</div>
			
			<!-- FOOTER MENU -->
			<div th:replace="fragments/navigation :: footer_menu"></div>
			<!-- FOOTER -->
			<footer th:replace="fragments/footer :: footer"></footer>
		</div>
		
		
		<!-- js -->
		<div th:replace="fragments/jsScripts :: jsScripts"></div>
	</body>
</html>


